@import 'table.css';

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  font-size: 2rem;

  background-color: rgb(202, 194, 156);
}



/* buttons */

.buttons {
  display: flex;
  margin-bottom: 20px;
  
  column-gap: 20px;
}

.buttons button {
  width: 50px;
  height: 50px;

  background-size: contain;
  opacity: .4;
}

.buttons button.active {
  transform: scale(1.2);
  opacity: 1;
}

.buttons--disease {
  background-image: url("../assets/disease.svg");
}

.buttons--death {
  background-image: url("../assets/death.svg");
}

.buttons--recovery {
  background-image: url("../assets/recovery.svg");
}
