* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  padding-left: 50px;

  font-size: 2rem;

  background-color: rgb(202, 194, 156);
}

.input-expense {
  width: 100px;
}

.report {
  width: 20%;
  max-height: 300px;
  overflow-y: auto;

  border: 2px solid black;
}