* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

ul, 
ol {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

body {
  padding-left: 50px;

  font-size: 2rem;

  background-color: rgb(202, 194, 156);
}

.input-expense {
  width: 100px;
}

.report {
  width: 20%;
  max-height: 300px;
  overflow-y: auto;

  border: 2px solid black;
}

.record-container {
  display: flex;
  margin-bottom: 5px;
  padding-left: 20px;
}

.record-container * {
  margin-right: 10px;
}